.background {
    background-color: aquamarine;
    width: 90%;
    height: 400px;
    margin: 40px auto 40px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-image: url(../img/Kawaii\ Sushi\ Sticker.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}

:root {
    --lavender-web: #d7dae5ff;
    --columbia-blue: #b9cddaff;
    --tiffany-blue: #a6d8d4ff;
    --cambridge-blue: #8eaf9dff;
    --gray: #6b7d7dff;
}

.pic {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto;
    object-fit: contain;
    background-color: blueviolet;
}

.overflow {
    background-color: bisque;
    width: 300px;
    height: 100px;
    overflow: scroll;
    margin: auto;
}