
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-image: url(../img/sushi_background3.jpg);
    background-size: cover;
    margin: 0;
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

#login:hover {
    color: rgb(6, 37, 11);
    transition: all 1s;
}

#login {
    font-size: 30px;
    color:bisque;
    transition: all;
    display: inline-block;
    margin: auto;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
}

dialog {
    width: 500px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgba(102, 39, 41, 0.839);
    color: bisque;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

#login-image {
    width: 200px;
    height: 250px;
    border-radius: 20px;
}

input {
    border-radius: 1px;
}

input:focus {
  outline: none;
}

input:invalid {
    background-color: rgb(191, 77, 77);
}

input:valid {
    background-color: rgb(108, 141, 108);
}

.registration {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}

.button {
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    background-color: rgb(93, 112, 80);
    color: bisque;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(53, 14, 5);
    transition: 1s;
}

dialog::backdrop {
    background-image: linear-gradient(
      45deg,
      rgb(93, 112, 80),
      rgb(108, 134, 91),
      rgb(101, 125, 95),
      rgb(128, 153, 82)
    );
    opacity: 0.75;
  }

nav {
    background-color:rgb(59, 69, 57);
    margin: auto;
    margin-top: 4px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 3px 3px 5px 0 rgb(10, 34, 10);
}

.companyname {
    width: 20%;
    display: inline-block;
}

.company {
    display: inline-block;
    list-style-type: none;
    color: bisque;
    font-size: 20px;
}

.nav-bar {
    display: inline-block;
    width: 70%;
}

.main, .menu, .contact {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    color: bisque;
}

.main:hover, .menu:hover, .contact:hover {
    color: rgb(73, 33, 33);
    transition: all 1s;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.article {
    margin: auto;
    padding: 30px;
    width: 80%;
    margin-top: 280px;
    max-width: 1000px;
    z-index: 10;
    position: relative;
    background-image: url(../img/sushi_background8.jpg);
    background-size: cover;
    background-position: center left 20px;
}

.seating {
    float: left;
    width: 50%;
    max-width: 250px;
    margin: 5px;
    position: relative;
}

.aboutus {
    float: right;
    width: 50%;
    max-width: 300px;
    color: bisque;
    line-height: 1.5;
    margin-right: 360px;
}

#sakura {
    position: absolute;
    top: 230px;
    left: 30px;
    z-index: 20;
    width: 400px;
}

#sushiforest {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

footer {
    background-color: rgb(73, 33, 33);
    color:  bisque;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    bottom: 0;
    position: absolute;
}

